<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qingzhi.apps.fax"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- required for setIsSyncable -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application android:name=".ui.MyApplication" android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name" android:configChanges="orientation"
                 android:theme="@android:style/Theme.Holo.Light">

        <!--若 android:exported="true", 该 activity 可以被其他应用调用.如果设置了
        <intent-filter>, android:exported default 为 true.-->
        <service android:name=".authenticator.AuthenticationService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator"/>
        </service>

        <activity
                android:name=".authenticator.AuthenticatorActivity"
                android:label="@string/ui_activity_title"
                android:excludeFromRecents="true"
                android:configChanges="orientation" android:theme="@android:style/Theme.NoTitleBar"
                >
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>

        <activity android:name=".ui.HomeActivity" android:launchMode="singleTask"
                  android:label="@string/title_activity_rect_photo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.PaperShow" android:configChanges="orientation"/>
        <activity android:name=".ui.ShootPaper" android:configChanges="orientation"/>
        <activity android:name=".ui.FaxEdit"/>
        <provider android:name="com.qingzhi.apps.fax.provider.FaxProvider"
                  android:authorities="com.qingzhi.apps.fax"
                  android:syncable="true"
                  android:label="@string/app_name"/>
    </application>

</manifest>